<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>Document</title>
    <style>
        .search {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('https://www.w3schools.com/howto/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;

        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand text-warning" th:href="@{/products}">Electric Shop</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products}" th:text="#{home}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{contact}"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/products/manager}" th:text="#{management}"></a>
            </li>
        </ul>
        <div class="btn-group">
            <a class="btn btn-outline-danger" id="viLang" href="?lang=vi">vi</a>
            <a class="btn btn-outline-warning" id="enLang" href="?lang=en">en</a>
        </div>
    </div>
</nav>
<div class="jumbotron" style="height:100px;padding: 0;margin: 0;">
    <h3 class="text-danger text-center" style="line-height: 100px" th:text="#{management}"></h3>
</div>
<div class="container mt-5">
    <div class="row">
        <div style="width: 100%">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab">Danh sách sản phẩm</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i
                                class="fas fa-plus"></i>Thêm sản phẩm</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="container tab-pane active">
                        <input type="text" class="search mt-2" name="search" placeholder="Search.." id="search_textbox">
                        <table class="table table-hover mt-1">
                            <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Giá tiền</th>
                                <th>Hãng</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product:${products}">
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:text="${product.producer.getName()}"></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-warning" th:href="@{'/products/edit/'+${product.id}}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-danger"  th:attr="data-delete-id=${product.id}" data-toggle="modal" data-target="#deleteModal">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="myForm">
                        <p class="text-success" id="add-success"></p>
                        <input type="text" hidden>
                        <div class="form-group">
                            <label for="name">Tên:</label>
                            <input type="text" id="name" name="name" placeholder="Tên sản phẩm..." class="form-control">
                            <small id="error-name" class="text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="price">Giá:</label>
                            <input type="number" id="price" name="price" placeholder="Giá sản phẩm..."
                                   class="form-control">
                            <small id="error-price" class="text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="category">Danh mục:</label>
                            <select name="category" id="category" class="form-control">
                                <option th:each="category:${categories}" th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="producer">Hãng:</label>
                            <select name="producer" id="producer" class="form-control">
                                <option th:each="producer:${producers}" th:value="${producer.id}"
                                        th:text="${producer.name}"></option>
                            </select>
                        </div>
                        <div class="btn-group" style="width: 100%;">
                            <button class="btn btn-success" type="submit" style="width: 50%;" id="submitButton">Thêm
                            </button>
                            <button class="btn btn-danger" data-dismiss="modal" style="width: 50%;" onclick="window.location.href='/products/manager'">Close</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="modal" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-danger">Xóa sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Bạn muốn xóa sản phẩm này?</p>
                    <div class="float-right">
                        <a class="btn btn-success">Đồng ý
                        </a>
                        <button class="btn btn-danger" data-dismiss="modal">Hủy</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.getElementById("search_textbox").addEventListener("keydown", function (event) {
            if (event.keyCode == 13) {
                window.location.href = "/products/search?q=" + document.getElementById("search_textbox").value;
            }
        });
        $("#submitButton").click(function (event) {
            // Stop default form Submit.
            event.preventDefault();
            product = {
                "id": 0,
                "name": $("#name").val(),
                "price": $("#price").val(),
                "category": {
                    "id": $("#category").val()
                },
                "producer": {
                    "id": $("#producer").val()
                }
            }
            // product = $("#myForm").serialize()
            console.log(JSON.stringify(product));
            // Call Ajax Submit.
            ajaxSubmitForm();
        });

        function ajaxSubmitForm() {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/products/add",
                data: JSON.stringify(product),
                cache: false,
                timeout: 6000,
                success: function (data) {
                    console.log(data);
                    if (data != "Success") {
                        $('small[id^="error"]').text('');
                        $('#add-success').html("");
                        $.each(data, function (index, errorMsg) {
                            $('#error-' + errorMsg.field).text(errorMsg.defaultMessage);
                        })
                    } else {
                        $('small[id^="error"]').text('');
                        $('#add-success').html("<i class='fas fa-check-circle'></i> Đã thêm thành công");
                        document.getElementById("myForm").reset();
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            })
        };
        // Reset form when modal hidden
        $('#addModal').on('hidden.bs.modal', function () {
            $('small[id^="error"]').text('');
            $('#add-success').html("");
            document.getElementById("myForm").reset();
        });
        $('#deleteModal').on('show.bs.modal', function(e) {
            var productId = $(e.relatedTarget).data('delete-id');
            $(e.currentTarget).find('a').attr("href", "/products/delete/"+productId);
        });
    });
</script>
</body>
</html>